.custom-btn{
    border:none;
    border-radius: 5px;
    background-color: $maincolor;
    border: 1px solid $maincolor;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1.4rem 6rem;
    color: $white;
    opacity: 0.85;
    transition: all 0.3s ease-in-out;
    &:hover{
        opacity: 1;
    }
    &.no-bg{
        background-color: transparent;
        border-color:$gray;
        color: $gray;
        &:hover{
            border-color: $maincolor;
            color: $maincolor;
        }
    }
    &.orange{
        background-color: $orange;
        border-color: $orange;
    }
    &.gray{
        background-color: #cecece;
        border-color: #cecece;
        color: #000000;
    }
    &.red{
        background-color: $red;
        border-color: $red;
        color: $white;
    }
    &.sm{
        padding: 11px;
        min-width: 120px;
    }
    &.disabled{
        opacity: 0.65;
        cursor: not-allowed;
    }
}