//  forms
  /* Inputs */
  .input-container {
    position: relative;
    width: 100%;
    margin-bottom: 2.4rem;
    .custom-input{
      outline: none;
      border:solid 1px $gray;
      border-radius: 5px;
      z-index: 2;
      position: relative;
      background: none;
      width: 100%;
      height: 5.6rem;
      color: #000;
      font-size: 1.6rem;
      padding:0 20px;
      font-weight: 400;
      &:focus , &:valid {
        z-index: 1;
        border-color: $maincolor;
        ~ label {
            color: $maincolor;
            background:$white;
            transform: translate(0%, -50%) scale(0.75);
            line-height: 18px;
            padding: 0 6px;
            z-index: 2;
        }
        + .input-group-append{
          .input-group-text{
            border-color: $maincolor;
            color: $maincolor;
            &::before{
              background-color: $maincolor;
            }
          }
        }
        
      
      }

    
      
    }
    &.icon{
      input{
        padding-right: 3.5rem;
      }
      .icon-img{
        position: absolute;
        top:50%;
        right: 10px;
        transform: translate(0,-50%);
        cursor: pointer;
        z-index: 2;
      }
    }
    label {
      position: absolute;
      top: 0;
      left: 10px;
      color: #757575;
      font-weight: 300;
      line-height: 50px;
      transition:all 0.3s ease;
      z-index: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .custom-checkbox{
    font-size: 15px;
    padding-left: 2rem;
    label{
      cursor: pointer;
      color: $gray;
    }
    .custom-control-label{
      &::after,
      &::before{
        width: 1.5rem;
        height: 1.5rem;
        left: -2rem;
      }
    }
    .custom-control-input:checked ~ .custom-control-label::before{
      background-color: $maincolor;
      outline: 0;
      box-shadow: none;
    }
    
  }



  // browser
  input:-internal-autofill-selected {
    background-color:$white !important;
  }


  // form-control
  .form-control{
    height: 5.6rem !important;
    border-left: 0;
    border-radius: 5px;
    border-color: $gray;
    font-size: 1.4rem;
    &:focus{
      border-color: $gray;
      box-shadow: none;
    }
    
  }
  .input-group-text{
    border-color: $gray;
    background-color: transparent;
    border-right: 0;
  }

//custom-select-sm
.custom-select-sm{
  height: 5.6rem;
  border-radius: 5px;
  border: 1px solid $gray;
  width: 100%;
  font-size: 1.4rem;
}
 

.input-group-append {
  .input-group-text{
    border: 1px solid #8b8989;
    border-left: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    position: relative;
    &::before{
      content: "";
      width: 1px ;
      background-color: $gray;
      height: 80%;
      margin-right: 8px;
    }
  }
}
.append-group{
  .custom-input{
    border-right: 0 !important;
  }
}