@import "../scss/color";
@import "../scss/buttons";
@import "../scss/form";
@import "../scss/table";
@import "../scss/modal";
@import "../scss/tabs";


@mixin box-shadow {
   box-shadow:  0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

/* Table pf content
    = Scrollbar
    = fullscreen
    = position
    = main-card
    = table-action
    = upload-file
*/
*:focus{
    outline: none !important;
    box-shadow: none !important;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('src/assets/images/body-bg.png');
    background-color: $darkwhite;
    font-size: 1.4rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
ul{
      list-style: none;   
      margin: 0;
      padding: 0;       
}

.alert-danger{
    background-color: $red;
    color: $white;
}
.alert{
    position: relative;
    padding:1.5rem  2rem ;
    margin-bottom: 3.5rem;
    .icon{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0,-50%);
    }
}
header{
    background-color: $themecolor;
    padding-left: 1rem;
    color: $white;
    position: sticky;
    top: 64px;
    z-index: 98;
    p{
        font-size: 2.4rem;
        font-weight: bold;
        img{
            margin-right: 1.5rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                margin-right: 2rem;
            }
        }
    }
}
// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 4px;
    background-color: #E0E6E9;
    overflow: unset;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $gray; 
    width: 60px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
   
  }
//fullscreen
.fullscreen{
    min-height: 100vh;
    width: 100%;
    // position: absolute;
    position: fixed;
    z-index: 99;
    top: 0;
}
// position
.p-relative{
    position: relative;
}
.p-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// main-card
.main-card{
    background-color: $white;
    padding: 3rem 2rem;
    margin-top: 5rem;
    @include box-shadow();
    &__header{
        margin-bottom: 3rem;
    }
}

// table-action
.table-action{
    color: $orange;
    .action{
        margin-left: 3rem;
        cursor: pointer;
        img{
            margin-right: 0.4rem;
        }
        &.btn{
            background-color: $maincolor;
            color: $white;
            padding: 1.2rem 1.5rem;
            border-radius: 5px;
            font-size: 1.4rem;
        }
    }
}

// upload-file
.upload-file{
    background-color: #f4f4f4;
    border: 1.5px dashed $gray;
    width: 100%;
    &.uploaded{
    border-color: transparent;
    }
    cursor: pointer;
    .show-photo{
        overflow: hidden;
        
        .icon{
            position: absolute;
            top: 15px;
            right: 15px;
            // transform:  scale(0);
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 14px;
            background: $red;
            border-radius: 50%;
            transform-origin:center;
            transition: all 0.3s ease-in-out;
            z-index: 9999;
            .delete{
                fill: $white;
            }
        }
        // &:hover{
        //     .icon{
        //         transform: scale(1);
        //     }
            
        // }
        img {
            width: 100%;
            height: 100%;
            max-height: 270px;
            object-fit: cover;
        }
    }
    .icon-upload{
        margin-top: 4.2rem;
    }
    label{
        cursor: pointer;
    }
    input{
        opacity: 0;
        cursor: pointer;
    }
    h5{
        font-size: 1.4rem;
        font-weight: bold;
        margin: 8px 0 2px;
    }
    p{
        font-size: 1.2rem;
        color: $gray;
        margin-bottom: 8px;
    }
    span{
        font-size: 1rem;
        color: #b2b2b2;
        margin: 12px;
        display: block;
    }
    .btn{
        background-color: $maincolor;
        border: none;
        padding: 1rem 1.5rem;
        color: #FFF;
        font-size: 1.4rem;
        margin-bottom: 4.2rem;
        img{
            vertical-align: sub;
        }
    }
    &:hover{
       
    }
}
.upload{
    width: 270px;
}