
.modal{
    .modal-dialog{
        width: 100% !important;
        max-width: 912px;
    }
    .modal-content{
        border-radius: 5px;
        border: none;
        background-color: transparent;
    }
    .modal-header{
        background-color: $themecolor;
        color: $white;
        padding: 2rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        img{
            margin-right: 11px;
        }
        h4{
            font-size: 2.4rem;
            font-weight: bold;
        }
        .close{
            opacity: 1;
            padding: 0;
            margin: auto 0;
        }
    }
    .modal-body{
        padding: 3.4rem 2.1rem;
        background-color: $white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }
    .modal-sm-screen{
        width: 570px;
        margin: auto;
    }
    .custom-tabs{
        .nav-tabs{
            overflow: hidden;
            margin-top: -1px;
            padding-left: 2.1rem;
            .nav-link{
                min-width: 190px;
                &.active,&:hover{
                    border-bottom-width: 5px ;
                }
            }
            
          
        }
    }
    .delete-warning{
        .custom-btn{
            margin: 2.5rem 1.5rem 0 ;
        }
    }
}