.table{
    thead{
        tr{
            th{
                padding: 1.4rem;
                background-color: $themecolor;
                color:$white;
                font-weight: 100 ;
                border: none;
                white-space: nowrap;
            }
        }
    }
    tbody{
        tr{
            td{
                white-space: nowrap;
                border:none;
                padding: 1.4rem;
                vertical-align:middle;
                text-transform: capitalize;
                a:hover{
                   text-decoration: underline; 
                }
                .action{
                    margin-right: 1.8rem;
                    path{
                        transition: all 0.2s ease-in-out;
                    }
                    
                    &:hover{
                        .delete_row{
                            fill: $red;
                        }
                        .edit-row{
                            fill: $green;
                            
                        }
                        .store{
                            fill:$maincolor
                        }
                    }
                }
                &.active{
                    color: $green;
                }
                &.inactive{
                    color: $red;
                }
            }
        }
    }
}


.select-organize{
    table {
        td{
            &:first-child{
                label{
                    color: #000000;
                }
            }
            &:nth-child(2){
                color: $gray;
            }
        }
    }
}