.custom-tabs{
    &.fixed {
        .nav-tabs{
            position: fixed;
            top: 7.8rem;
            right: 10px;
            z-index: 98;
        }
    }
    .nav-tabs{
        border: none;
        background-color: $themecolor;
        color: $gray;
        .nav-link{
            border-bottom-width: 4px;
            min-width: 130px;
            text-align: center;
            border: none;
            background: none;
            border-radius: 0;

            &.active{
               
                color: $white;
                font-weight: bold;
                border-bottom: 4px solid $maincolor;
            }
            &:hover{
                color: $white;

                border-bottom: 4px solid $maincolor;
            }
        }
    }
    &.orange {
        .nav-link{
            &.active,
            &:hover{
                border-color: $orange;
                color: $orange;
            }
        }
    }
}
