<div class="login">
    <div class="p-0">
        <div class="row no-gutters">
            <div class="col-lg-5 d-none d-lg-block">
                <div class="login-bg d-flex justify-content-center flex-column">
                    <div class="text-center ">
                        <h2>WELCOME</h2>
                        <p>In at iaculis lorem. Praesent tempor dictum tellus ut molestie. Sed sed ullamcorper.</p>
                    </div>
                </div>
            </div>
            <!-- end col-->
            <div class="col-lg-7 ">
                <div class="d-flex align-items-center justify-content-center login-form">
                    <form class="w-100 mx-auto">
                        <img src="../../assets/images/logo-signin.png" alt="View Plus" class="brand">

                        <div class="alert alert-danger " role="alert">
                            Opss..The Username / Password combination isn't right
                              <span class="icon">
                                  <img src="../../assets/images/icons/error-white.svg" alt="icon">
                            </span>
                          </div>
                          <!-- end alert-->
                        <div class="input-container">
                            <input type="text" id="username" required="required" class="custom-input"/>
                            <label for="username">Username</label>
                        </div>
                        <!-- End input-container -->
                        <div class="input-container icon">
                            <input type="password" id="password" required="required" class="custom-input"/>
                            <label for="password">Password</label>
                            <div class="icon-img">
                                <img src="../../assets/images/icons/eye.svg" alt="show-password">
                            </div>
                        </div>
                        <!-- End input-container -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                            <label class="custom-control-label" for="remember">Remember me</label>
                          </div>
                          <!--end custom-container-->

                        <button class="custom-btn orange" [routerLink]="['/dashboard']" >
                            Sign in
                        </button>
                        <!-- end custom-btn-->
                    </form>
                </div>
                <!--end d-flex-->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container -->
</div>
<!-- end login-->