@import "../../assets/scss/color";

.login{
    background-color: $white;
    .login-bg{
        min-height: 100vh;
        height: 100%;
        background-image: url(../../assets/images/sign_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        h2{
            font-weight: bold;
            font-size: 4.8rem;
        }
        p{
            font-size: 1.8rem;
            max-width: 392px;
            margin: auto;
        }
    }

    .login-form{
        background-color: #ffffff;
        min-height: 100vh;
        height: 100%;
        text-align: center;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
        padding: 1.5rem;
        .brand{
            margin-bottom: 6rem;
        }
        .custom-checkbox{
            text-align: left;
            margin-bottom: 3rem;
        }
        
    }

}
.alert{
    text-align: left;
}