
<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="menu-icon" (click)="toggleNavbarMenu()">
                    <img src="../../assets/images/icons/menu.svg" alt="menu">
                </div>
                <!-- end menu-icon-->
            </div>
            <!-- end col-->
            <div class="col-9 d-flex justify-content-end align-items-center">
                 <!--
                    ==========================================================
                    Please make sure to put class "new" depend on new  history
                    ==========================================================
                -->
                <div class="history new">
                    <img src="../../assets/images/icons/history.svg" alt="notifcation">
                </div>
                 <!--
                    ========================================================
                    Please make sure to put class "new" depend on new notif 
                    ========================================================
                -->
                <div class="notif">
                    <img src="../../assets/images/icons/notifications.svg" alt="notifcation">
                </div>
                <div class="profile-setting">
                    <div class="avatar" (click)="toggleSettingMenu()">
                        <img src="../../assets/images/profile-pic.png" alt="user-image">
                        <span>Fionna Hughes</span>
                    </div>
                    <!-- end avatar-->
                    <div class="setting-menu" [ngClass]="{active: settingMenuActive}">
                        <ul>
                            <li>
                                <a>Profile</a>
                            </li>
                            <li>
                                <p>Language :</p>
                                <!--
                                    =============================================================
                                    Please make sure to put class "active" depend on site language
                                    =============================================================
                                -->
                                <a class="active">English</a>
                                <a >Arabic</a>

                            </li>
                            <li>
                                <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign out</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end setting-menu-->
                </div>
                <!-- end profile-setting-->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
</nav>
<!-- end nav-->
<aside class="fullscreen  navbar-menu" [ngClass]="{active: showNavbarMenu}">
    <div class="overlay " (click)="toggleNavbarMenu()"></div>
    
    <!-- end brand-->
    <ul>
        <div class="brand">
            <img src="../../assets/images/logo-white.svg" alt="view plus">
        </div>

         <!--
            =============================================================
            Please make sure to put class "active" depend on  opened page
            =============================================================
        -->
        <li [routerLink]="['/dashboard']" routerLinkActive="active">
            <a>
                <img src="../../assets/images/icons/speed.svg" alt="icon" >
                Dashboard
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/trending_up.svg" alt="icon" >
                Analytics
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/ondemand_video.svg" alt="icon" >
                Advertisements
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/tablet_android.svg" alt="icon" >
                Devices
            </a>
        </li>
        <li  [routerLink]="['/advertisers']" routerLinkActive="active">
            <a >
                <img src="../../assets/images/icons/record_voice_over.svg" alt="icon" >
                Advertisers
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/store.svg" alt="icon" >
                Organizations
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/reply.svg" alt="icon" >
                Shares
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/supervised_user_circle.svg" alt="icon" >
                Permissions
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/settings_applications.svg"alt="icon" >
                Settings
            </a>
        </li>
        <li>
            <a>
                <img src="../../assets/images/icons/delete.svg" alt="icon" >
                Trash
            </a>
        </li>
       

    </ul>
</aside>