@import "../../assets/scss/general";
nav{
    background-color: $themecolor;
    padding: 2rem 3rem 0 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
    .menu-icon{
        cursor: pointer;
    }
    .history,
    .notif{
        margin-right: 3rem;
        cursor: pointer;
        &.new{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                right: 1px;
                background-color: $red;
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
            }
        }
    }
    .profile-setting{
        cursor: pointer;
        position: relative;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }
        span{
            color:$white;
            margin-left: 1.5rem;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                border-top-color: $white;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                border-width: 4px;
                border-style: solid;
                margin-left: 5px;
            }
        }
        .setting-menu{
            position: absolute;
            padding: 2rem 1.5rem;
            background-color: $white;
            width: 250px ;
            right: -1.5rem;
            transition: all 0.3s ease-in-out;
            @include box-shadow;
            border-radius: 5px;
            top: calc(100% + 10px);
            transform-origin: top;
            transform: rotateX(90deg);
            &.active{
                transform: rotateX(0deg);
            }
           ul {
               li{
                margin-bottom: 2.4rem;
                p{
                    display: inline-block;
                }
                &:nth-child(2){
                    a{
                        margin-left: 2rem;
                        color: $gray;
                        &.active{
                            font-weight: bold;
                            text-decoration: underline;
                            color: #000000;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                    color: $orange;
                }
               }
           }
        }
    }
}


.overlay{
    opacity: 0.35;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
//  navbar-menu
.navbar-menu{
    visibility: hidden;
    &.active{
        visibility: visible;
        ul {
            transform: translateX(0);
        }
        .overlay{
            opacity: 0.35;
            visibility: visible;
        }
    }
    .overlay{
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    ul{
        background-color: $themecolor;
        color: $white;
        position: absolute;
        top: 0;
        min-height: 100vh;
        max-width: 300px;
        width: 100%;
        transform: translateX(-350px);
        transform-origin: left;
        transition: all 0.3s ease-in-out;
        
        .brand{
            width: 80%;
            margin: 3rem auto 5rem ;
            img{
                width: 100%;
            }
        }
        li{
            padding: 1.4rem 3rem;
            cursor: pointer;
            position: relative;
            z-index: 1;
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 100%;
                background-color: $maincolor;
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }
            &.active,
            &:hover{
                &::after{
                    width: 100%;
                }
            }
            img{
                margin-right: 1.5rem;
            }
        }
    }
}