<app-layout></app-layout>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p>Dashboard</p>
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
</header>

<!-- end header-->