<app-layout></app-layout>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p>
                    <img src="../../../assets/images/icons/arrow_back.svg" alt="back" [routerLink]="['/advertisers']">
                    Consectetur gravida est </p>
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
</header>

<!-- end header-->
<div class="custom-tabs fixed">
    <tabset>
        <tab heading="Sponsors Ads" id="tab1">
            <section>
                <div class="container-fluid">
                    <div class="main-card">
                        <div class="main-card__header">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img
                                                        src="../../../assets/images/icons/search.svg"></span>
                                            </div>
                                            <input type="search" class="form-control" placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                                <!-- end col-->
                                <div class="col-md-6">
                                    <div class="table-action justify-content-end d-flex align-items-center h-100">
                                        <a class="action">
                                            <img src="../../../assets/images/icons/print.svg" alt="print">
                                            <span>Print</span>
                                        </a>
                                        <!-- end action-->
                                        <a class="action">
                                            <img src="../../../assets/images/icons/export.svg" alt="export">
                                            <span>Export</span>
                                        </a>
                                        <!-- end action-->
                                        <a class="action btn" (click)="openModal(template)">
                                            <img src="../../../assets/images/icons/add_box.svg" alt="add">
                                            <span>Add</span>
                                        </a>
                                        <!-- end action-->
                                    </div>
                                    <!-- end table-action-->
                                </div><!-- end col-->
                            </div>
                            <!-- end row-->
                        </div>
                        <!--end main-card__header -->
                        <div class="main-color__body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Created date</th>
                                            <th scope="col">No. of Videos</th>
                                            <th scope="col">Views</th>
                                            <th scope="col">Clicks</th>
                                            <th scope="col">Shares</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let advertiser of advertisersSponserAds">

                                            <td>
                                                {{advertiser.name}}
                                            </td>
                                            <td>{{advertiser.createdDate}}</td>
                                            <td>{{advertiser.noAds}}</td>
                                            <td>{{advertiser.views}}</td>
                                            <td>{{advertiser.clicks}}</td>
                                            <td>{{advertiser.shares}}</td>
                                            <td [class]="advertiser.status">{{advertiser.status}}</td>
                                            <td>
                                                <a class="action" (click)="openModal(template)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <path d="M0 0h24v24H0z" data-name="Path 19297"
                                                            style="fill:none" />
                                                        <path class="store"
                                                            d="M18.36 9l.6 3H5.04l.6-3h12.72M20 4H4v2h16zm0 3H4l-1 5v2h1v6h10v-6h4v6h2v-6h1v-2zM6 18v-4h6v4z"
                                                            data-name="Path 19298" fill="#002e42" />
                                                    </svg>
                                                </a>
                                                <a class="action">
                                                    <svg id="edit" xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24">
                                                        <path id="Path_19377" class="edit-row" data-name="Path 19377"
                                                            d="M14.058,9.019l.92.92L5.919,19H5v-.92l9.058-9.058M17.657,3a1,1,0,0,0-.7.29l-1.83,1.83,3.749,3.749,1.83-1.83a1,1,0,0,0,0-1.41l-2.34-2.34A.982.982,0,0,0,17.657,3Zm-3.6,3.189L3,17.247V21H6.749L17.807,9.939,14.058,6.189Z"
                                                            transform="translate(0.001)" fill="#002e42" />
                                                        <rect id="Rectangle_2293" data-name="Rectangle 2293" width="24"
                                                            height="24" fill="none" />
                                                    </svg>
                                                </a>
                                                <a class="action" (click)="openModal(delete)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <g id="Delete" transform="translate(-1830 -418)">
                                                            <path id="Path_19379" class="delete_row"
                                                                ata-name="Path 19379"
                                                                d="M16,9V19H8V9h8M14.5,3h-5l-1,1H5V6H19V4H15.5ZM18,7H6V19a2.006,2.006,0,0,0,2,2h8a2.006,2.006,0,0,0,2-2Z"
                                                                transform="translate(1830 418)" fill="#002e42" />
                                                            <rect id="Rectangle_2180" data-name="Rectangle 2180"
                                                                width="24" height="24" transform="translate(1830 418)"
                                                                fill="none" />
                                                        </g>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end main-color__body-->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end container-->
            </section>
        </tab>
        <tab heading="Ads">Ads</tab>
        <tab heading="Coupons"></tab>
    </tabset>
</div>




<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Sponsor Ads</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"><img src="../../../assets/images/icons/modal-close.svg" alt="x"></span>
        </button>
    </div>

    <div class="custom-tabs orange">
        <tabset #staticTabs>
            <tab heading="Main information">
                <div class="modal-body">
                    <div class="add-advertiser">
                        <form>
                            <div class="row">

                                <div class="col-5">
                                    <div class="input-container">
                                        <input type="text" id="name" required="required" class="custom-input" />
                                        <label for="name">Name </label>
                                    </div>
                                    <!-- End input-container -->
                                </div>
                                <div class="col-3">
                                    <div class="input-container">
                                        <select name="Duration" id="code" class="custom-select-sm ">
                                            <option>Duration</option>
                                            <option value="10s">10s</option>
                                            <option value="20s">20s</option>
                                            <option value="30s">30s</option>
                                            <option value="40s">40s</option>
                                        </select>

                                    </div>
                                    <!-- End input-container -->
                                </div>
                                <div class="col-2">
                                    <div class="input-container">
                                        <input type="text" id="noOfVideo" required="required" class="custom-input" />
                                        <label for="noOfVideo">No. of Videos</label>
                                    </div>
                                    <!-- End input-container -->
                                </div>
                                <div class="col-2">
                                    <div class="input-container">
                                        <select name="Duration" id="code" class="custom-select-sm custom-input ">
                                            <option value="active">Active</option>
                                            <option value="inActive">inActive</option>
                                        </select>
                                        <label for="code">Status</label>

                                    </div>
                                    <!-- End input-container -->
                                </div>
                            </div>
                            <!-- end row-->
                        </form>
                    </div>
                    <!-- end add-advertiser-->

                    <!--
                        ===============================================
                        show this div after finish  the previous form
                        ===============================================
                    -->
                    <div class="row">
                        <div class="col-sm-6 mb-5">
                           <div class="row">
                                <div class="col-12">
                                    <div
                                    class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
                                    [ngClass]="{uploaded: uploadedFile}"
                                    >
                                    <div class="text-center" *ngIf="!uploadedFile">
                                        <input id="upload" type="file" (change)="uploadFile($event)" class="p-absolute">
                                        <img src="../../../assets/images/icons/cloud_upload.svg" alt="icon" class="icon-upload">
                                        <h5>Drag & Drop Logo to upload</h5>
                                        <p>Or select an option below</p>
                                        <span>Maximum logo height 50px </span>
                                        <button class="btn">
                                            <img src="../../../assets/images/icons/folder.svg" alt="icon">
                                            Browse files
                                        </button>
                                    </div>
                                    <div class="show-photo" *ngIf="uploadedFile">
                                        <div class="icon" (click)="clearFile()">
                                            <img src="../../../assets/images/icons/modal-close.svg" alt="x">
                                        </div>
                                        <!-- end icon-->
                                        <img [src]="uploadedFile" alt="file">
                                    </div>
                                </div>
                                <!-- end upload-file-->
                                </div>
                                 <!-- end col-->
                                 <div class="col-md-8 col-sm-10 col-11 mt-5">
                                    <div class="input-group append-group mb-3 input-container">
                                        <input type="text" class="form-control custom-input"  required="required">
                                        <div class="input-group-append">
                                          <span class="input-group-text">Sec</span>
                                        </div>
                                        <label >Videos Duration</label>
                                      </div>
                                    
                                    <!-- End input-container -->
                                 </div>
                                 <!-- end col-->
                           </div>
                           <!-- end row-->
                        </div>
                        <!--end col-->
                        <div class="col-sm-6 mb-5">
                            <div class="row">
                                 <div class="col-12">
                                     <div
                                     class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
                                     [ngClass]="{uploaded: uploadedFile}"
                                     >
                                     <div class="text-center" *ngIf="!uploadedFile">
                                         <input id="upload" type="file" (change)="uploadFile($event)" class="p-absolute">
                                         <img src="../../../assets/images/icons/cloud_upload.svg" alt="icon" class="icon-upload">
                                         <h5>Drag & Drop Logo to upload</h5>
                                         <p>Or select an option below</p>
                                         <span>Maximum logo height 50px </span>
                                         <button class="btn">
                                             <img src="../../../assets/images/icons/folder.svg" alt="icon">
                                             Browse files
                                         </button>
                                     </div>
                                     <div class="show-photo" *ngIf="uploadedFile">
                                         <div class="icon" (click)="clearFile()">
                                             <img src="../../../assets/images/icons/modal-close.svg" alt="x">
                                         </div>
                                         <!-- end icon-->
                                         <img [src]="uploadedFile" alt="file">
                                     </div>
                                 </div>
                                 <!-- end upload-file-->
                                 </div>
                                  <!-- end col-->
                                  <div class="col-md-8 col-sm-10 col-11 mt-5">
                                     <div class="input-group append-group mb-3 input-container">
                                         <input type="text" class="form-control custom-input"  required="required">
                                         <div class="input-group-append">
                                           <span class="input-group-text">Sec</span>
                                         </div>
                                         <label >Videos Duration</label>
                                       </div>
                                     
                                     <!-- End input-container -->
                                  </div>
                                  <!-- end col-->
                            </div>
                            <!-- end row-->
                         </div>
                         <!--end col-->
                         <div class="col-sm-6 mb-5">
                            <div class="row">
                                 <div class="col-12">
                                     <div
                                     class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
                                     [ngClass]="{uploaded: uploadedFile}"
                                     >
                                     <div class="text-center" *ngIf="!uploadedFile">
                                         <input id="upload" type="file" (change)="uploadFile($event)" class="p-absolute">
                                         <img src="../../../assets/images/icons/cloud_upload.svg" alt="icon" class="icon-upload">
                                         <h5>Drag & Drop Logo to upload</h5>
                                         <p>Or select an option below</p>
                                         <span>Maximum logo height 50px </span>
                                         <button class="btn">
                                             <img src="../../../assets/images/icons/folder.svg" alt="icon">
                                             Browse files
                                         </button>
                                     </div>
                                     <div class="show-photo" *ngIf="uploadedFile">
                                         <div class="icon" (click)="clearFile()">
                                             <img src="../../../assets/images/icons/modal-close.svg" alt="x">
                                         </div>
                                         <!-- end icon-->
                                         <img [src]="uploadedFile" alt="file">
                                     </div>
                                 </div>
                                 <!-- end upload-file-->
                                 </div>
                                  <!-- end col-->
                                  <div class="col-md-8 col-sm-10 col-11 mt-5">
                                     <div class="input-group append-group mb-3 input-container">
                                         <input type="text" class="form-control custom-input"  required="required">
                                         <div class="input-group-append">
                                           <span class="input-group-text">Sec</span>
                                         </div>
                                         <label >Videos Duration</label>
                                       </div>
                                     
                                     <!-- End input-container -->
                                  </div>
                                  <!-- end col-->
                            </div>
                            <!-- end row-->
                         </div>
                         <!--end col-->
                        
                    </div>
                    <!-- end row-->
                    <div class="row mt-5">
                        <div class="col-12">
                            <!-- 
                                =====================================================================
                                please make sure to remove disabled and class "disabled" after finsih
                                =====================================================================
                            -->
                            <button type="button" class="custom-btn disabled" disabled (click)="selectTab(1)">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="Select Organizations">
                <div class="modal-body">
                    <div class="select-organize">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img
                                                src="../../../assets/images/icons/search.svg"></span>
                                    </div>
                                    <input type="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <!-- end col-->
                            <div class="col-md-5">
                                <div class="input-container">
                                    <select name="Duration" class="custom-select-sm custom-input ">
                                        <option value="all">All</option>
                                        <option value="category1">Category 1</option>
                                        <option value="category2">Category 2</option>
                                        <option value="category3">Category 3</option>
                                        <option value="category4">Category 4</option>
                                        <option value="category5">Category 5</option>

                                    </select>
                                    <label >Category</label>

                                </div>
                                <!-- End input-container -->
                            </div>
                        </div>
                        <!-- end row-->
                        <div class="row">
                            <div class="col-12 mb-5">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="selectAll" name="remember">
                                    <label class="custom-control-label" for="selectAll">Select All</label>
                                  </div>
                                  <!--end custom-container-->
                            </div>
                            <!--end col-->
                           <div class="col-12 p-0">
                            <div class="list-organize">
                                <div class="table-responsive w-50">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="1" name="remember">
                                                        <label class="custom-control-label" for="1">Commodo convallis gravida </label>
                                                      </div>
                                                      <!--end custom-container-->
                                                </td>
                                                <td>
                                                    Fringilla purus 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="1" name="remember">
                                                        <label class="custom-control-label" for="1">Commodo convallis gravida </label>
                                                      </div>
                                                      <!--end custom-container-->
                                                </td>
                                                <td>
                                                    Fringilla purus 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end list-organize -->
                           </div>
                        </div>
                        <!-- end row-->
                    </div>
                    <!-- end add-advertiser-->
                </div>
            </tab>
        </tabset>
    </div>

</ng-template>

<ng-template #delete>
    <div class="modal-header modal-sm-screen">
        <h4 class="modal-title pull-left">
            <img src="../../../assets/images/icons/warning.svg" alt="warning">
            Delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"><img src="../../../assets/images/icons/modal-close.svg" alt="x"></span>
        </button>
    </div>

    <div class="modal-body modal-sm-screen text-center">
        <div class="delete-warning">
            <p>Are you sure you want to permanently delete this item? </p>
            <div class="">
                <button class="custom-btn gray sm " (click)="modalRef.hide()">
                    Cancel
                </button>
                <button class="custom-btn red sm">
                    Yes, Delete It
                </button>
            </div>
        </div>
        <!-- end add-advertiser-->
    </div>


</ng-template>