@import "../../../assets/scss/general";
.add-advertiser{
    .form{
        width: calc(100% - 300px);
        @media (max-width:991px) {
            width: 100%;
        }
        .custom-btn{
            padding:  1.4rem 8.3rem;
        }
    }
}