<app-layout></app-layout>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p>Advertisers</p>
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
</header>

<!-- end header-->


<section>
    <div class="container-fluid">
        <div class="main-card">
            <div class="main-card__header">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img
                                            src="../../../assets/images/icons/search.svg"></span>
                                </div>
                                <input type="search" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <!-- end col-->
                    <div class="col-md-6">
                        <div class="table-action justify-content-end d-flex align-items-center h-100">
                            <a class="action">
                                <img src="../../../assets/images/icons/print.svg" alt="print">
                                <span>Print</span>
                            </a>
                            <!-- end action-->
                            <a class="action">
                                <img src="../../../assets/images/icons/export.svg" alt="export">
                                <span>Export</span>
                            </a>
                            <!-- end action-->
                            <a class="action btn" (click)="openModal(template)">
                                <img src="../../../assets/images/icons/add_box.svg" alt="add">
                                <span>Add</span>
                            </a>
                            <!-- end action-->
                        </div>
                        <!-- end table-action-->
                    </div><!-- end col-->
                </div>
                <!-- end row-->
            </div>
            <!--end main-card__header -->
            <div class="main-color__body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Logo</th>
                                <th scope="col">Name</th>
                                <th scope="col">Created date</th>
                                <th scope="col">No. of ads</th>
                                <th scope="col">Views</th>
                                <th scope="col">Clicks</th>
                                <th scope="col">Shares</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let advertiser of advertisers">
                                <td><img [src]="advertiser.photo" alt="logo"></td>
                                <td>
                                    <a [routerLink]="['/advertisers-sponsors-ads']">
                                        {{advertiser.name}}
                                    </a>
                                </td>
                                <td>{{advertiser.createdDate}}</td>
                                <td>{{advertiser.noAds}}</td>
                                <td>{{advertiser.views}}</td>
                                <td>{{advertiser.clicks}}</td>
                                <td>{{advertiser.shares}}</td>
                                <td [class]="advertiser.status">{{advertiser.status}}</td>
                                <td>
                                    <a class="action" (click)="openModal(template)">
                                        <svg id="edit" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path id="Path_19377" class="edit-row" data-name="Path 19377"
                                                d="M14.058,9.019l.92.92L5.919,19H5v-.92l9.058-9.058M17.657,3a1,1,0,0,0-.7.29l-1.83,1.83,3.749,3.749,1.83-1.83a1,1,0,0,0,0-1.41l-2.34-2.34A.982.982,0,0,0,17.657,3Zm-3.6,3.189L3,17.247V21H6.749L17.807,9.939,14.058,6.189Z"
                                                transform="translate(0.001)" fill="#002e42" />
                                            <rect id="Rectangle_2293" data-name="Rectangle 2293" width="24" height="24"
                                                fill="none" />
                                        </svg>
                                    </a>
                                    <a class="action" (click)="openModal(delete)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <g id="Delete" transform="translate(-1830 -418)">
                                                <path id="Path_19379" class="delete_row" ata-name="Path 19379"
                                                    d="M16,9V19H8V9h8M14.5,3h-5l-1,1H5V6H19V4H15.5ZM18,7H6V19a2.006,2.006,0,0,0,2,2h8a2.006,2.006,0,0,0,2-2Z"
                                                    transform="translate(1830 418)" fill="#002e42" />
                                                <rect id="Rectangle_2180" data-name="Rectangle 2180" width="24"
                                                    height="24" transform="translate(1830 418)" fill="none" />
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end main-color__body-->
        </div>
        <!-- end card-->
    </div>
    <!-- end container-->
</section>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Advertiser</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"><img src="../../../assets/images/icons/modal-close.svg" alt="x"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="add-advertiser">
            <div class="clearfix">
                <div class="float-lg-left upload	mb-lg-0 mb-4  ">
                    <div
                    [ngClass]="{uploaded: uploadedFile}"
                        class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative">
                        <div class="text-center" *ngIf="!uploadedFile">
                            <input id="upload" type="file" (change)="uploadFile($event)" class="p-absolute" accept=".png,.jpg,.jpeg">
                            <img src="../../../assets/images/icons/cloud_upload.svg" alt="icon" class="icon-upload">
                            <h5>Drag & Drop Logo to upload</h5>
                            <p>Or select an option below</p>
                            <span>Maximum logo height 50px </span>
                            <button class="btn">
                                <img src="../../../assets/images/icons/folder.svg" alt="icon">
                                Browse files
                            </button>
                        </div>
                        <div class="show-photo" *ngIf="uploadedFile">
                            <div class="icon" (click)="clearFile()">
                                <img src="../../../assets/images/icons/modal-close.svg" alt="x">
                            </div>
                            <!-- end icon-->
                            <img [src]="uploadedFile" alt="photo">
                        </div>
                    </div>
                    <!-- end upload-file-->
                </div>
                <!-- end col-->
                <div class="float-lg-left	ml-lg-5   form">
                    <form>
                        <div class="row">

                            <div class="col-12">
                                <div class="input-container">
                                    <input type="text" id="nameEn" required="required" class="custom-input" />
                                    <label for="nameEn">Name In En</label>
                                </div>
                                <!-- End input-container -->
                            </div>
                            <div class="col-12">
                                <div class="input-container">
                                    <input type="text" id="nameAr" required="required" class="custom-input" />
                                    <label for="nameAr">Name In Ar</label>
                                </div>
                                <!-- End input-container -->
                            </div>

                            <div class="col-12">
                                <div class="input-container">
                                    <!--
                                    =======================================
                                    Please don't change the to type email
                                    =======================================
                                -->
                                    <input type="text" id="email" required="required" class="custom-input" />
                                    <label for="email">Email</label>
                                </div>
                                <!-- End input-container -->
                            </div>
                            <div class="col-3">
                                <select name="code" class="custom-select-sm">
                                    <option selected>code</option>
                                    <option value="+966">+966</option>
                                    <option value="+02">+02</option>
                                </select>
                                <!-- End input-container -->
                            </div>
                            <div class="col-9">
                                <div class="input-container">

                                    <input type="number" id="phone" required="required" class="custom-input" />
                                    <label for="phone">Phone Number</label>
                                </div>
                                <!-- End input-container -->
                            </div>
                            <div class="col-12">
                                <button class="custom-btn">
                                    Add
                                </button>
                            </div>
                        </div>
                        <!-- end row-->
                    </form>
                </div>
                <!-- end col-->
            </div>
        </div>
        <!-- end add-advertiser-->
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header modal-sm-screen">
        <h4 class="modal-title pull-left">
            <img src="../../../assets/images/icons/warning.svg" alt="warning">
            Delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"><img src="../../../assets/images/icons/modal-close.svg" alt="x"></span>
        </button>
    </div>

    <div class="modal-body modal-sm-screen text-center">
        <div class="delete-warning">
            <p>Are you sure you want to permanently delete this item? </p>
            <div class="">
                <button class="custom-btn gray sm " (click)="modalRef.hide()">
                    Cancel
                </button>
                <button class="custom-btn red sm">
                    Yes, Delete It
                </button>
            </div>
        </div>
        <!-- end add-advertiser-->
    </div>


</ng-template>